.scoring-view {
    font-family: 'Muli', sans-serif;
    background-color: #98D0EC;
    color: white;
    display: block;
    height: 100vh;
    padding-top: 10px;
}

.score-button-box {
    height: 60px;
    border-bottom: 1px solid white;
    margin: auto;
    padding: auto;
}

.score-button {
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 3px 4px;
    font-size: 15px;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.unscored {
    padding: 5px 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #98D0EC;
    cursor: pointer;
    color: white;
    border: 1px solid #98D0EC;
    width: 100px;
}

.scored {
    padding: 5px 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    color: #98D0EC;
    border: 1px solid white;
    width: 100px;
}
