@import url('https://fonts.googleapis.com/css?family=Overpass');

.j-login-container {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    width: 100%;
    text-align: left;
    display: inline-block;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.j-login-components {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.j-login-dropdown {
    width: 70%;
    padding: 2vh;
    margin-top: 2vh;
}

.j-login-button {
    font-weight: bold;
    font-size: 2.5vh;
    color: white;
    display: block;
    align-content: center;
    border-radius: 5px;
    justify-content: center;
    margin-top: 4vh;
    border: none;
    background-color: #0A7191;
    width: 70%;
    height: 7vh;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.Dropdown-control {
    border: 0px;
    color: #0A7191;
    background-color: #F9F9F9;
}

.j-login-password::-webkit-input-placeholder{
    padding-left: 10px;
}

.j-login-password::-webkit-input-value {
    padding-left: 10px;
}

.headshot {
    width: 30%;
    display: block;
    margin: auto;
}

