.category-score {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid #0A7191;
    border-radius: 5px;
    width: 100%;
}

.t-category {
    font-size: 25px;
}

.t-score {
    display: inline-block;
    margin-left: 0.8rem;
}

.score-input {
    font-family: 'Overpass', sans-serif;
    padding: 5px;
    margin-right: 20px;
    text-align: center;
    width: 50px;
    height: 20%;
    cursor: text;
    border: none;
    color: #0A7191;
    font-size: 4vh;
}

input[type="score"]::placeholder {
    font-size: 60px;
    color: #0A7191;
}
