.entire-page {
    font-weight: bold;
    color: #0A7191;
    height: 100%;
    width: 100%;
    text-align: left;
}

.back-button {
    font-family: 'Overpass', sans-serif;
    color: #0A7191;
    position: relative;
    background-color: white;
    border: none;
    margin: 5%;
    margin-bottom: 5vh;
    cursor: pointer;
}

.arrow {
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 30px solid #0A7191;
	border-bottom: 15px solid transparent;
    position: absolute;
}

.white-arrow {
    margin-left: 10px;
    border-right: 30px solid white;
}

.back-button-text {
    width: 100%;
    font-size: 20px;
    float: left;
    margin-left: 2%;
}

.submit {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 2vh;
}

.proj-header {
    display: inline-block;
    margin-right: 6.5%;
    align-self: flex-end;
}

.proj-id {
    color: #0A7191;
    font-size: 20px;
    width: auto;
}

.info-and-scores {
    width: 85vw;
    margin: auto;
}

.proj-info {
    margin-top: 4vh;
    text-align: center;
    margin: auto;
    background-color: #98D0EC;
    border-radius: 5px;
    overflow-y: scroll;
    height: 50vh;
}

.proj-details {
    position: relative;
    top: 4%;
    width: 100%;
    left: 0%;
}

.attribute-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 75px;
    padding-left: 5%;
}

.head-and-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 30vw;
}

.projinfo-icon {
    left: 0%;
    top: 0%;
    position: relative;
}

.detail-header {
    font-weight: bold;
    font-size: 5vh;
    position: relative;
    padding-left: 15px;
    display: inline-block;
}

.actual-info {
    color: #0A7191;
    text-align: left;
    margin: auto;
    font-size: 3vh;
    height: 75px;
    overflow-y: scroll;
    vertical-align: middle;
}

.score {
    position: relative;
    text-align: center;
    width: 20vw;
    height: 20vw;
    z-index: 1;
    bottom: 10%;
    left: 40%;
}

.category-list {
    color: #0A7191;
    font-size: 2vh;
    overflow-y: scroll;
}

.list {
    height: auto;
    margin-top: 1vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
}

.wrapper {
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.button {
    display: inline-block;
    cursor: pointer;
}

.team {
    padding-top: 2%;
}