@import url('https://fonts.googleapis.com/css?family=Overpass');

.entirePage {
  background-color: white;
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0A7191;
  height: 100%;
  width: 100%;
  text-align: left;
}

.back-button {
  font-family: 'Overpass', sans-serif;
  color: #0A7191;
  position: relative;
  background-color: white;
  border: none;
  margin: 5%;
  margin-bottom: 5vh;
  cursor: pointer;
}

.arrow {
  width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 40px solid #0A7191;
	border-bottom: 20px solid transparent;
  border-radius: 5%;
  position: absolute;
}

.white-arrow {
  margin-left: 10px;
	border-right: 40px solid white;
}

.back-button-text {
  font-size: 25px;
  float: left;
  margin-left: 55px;
}

.score-box {
  background-color: #98D0EC;
  border-radius: 5px;
  margin: auto;
  width: 80vw;
  height: 55vh;
}

.proj-title{
  font-size: 52px;
  font-weight: bold;
  padding-left: 3vh;
}

.proj-id {
  padding-left: 4vh;
  font-size: 18px;
  font-weight: 100;
}

.proj-info {
  padding-left: 4vh;
  font-size: 18px;
  font-weight: 100;
}

.score-timer {
  display: inline-block;
  margin-left: 12.5vw;
}

.score-text {
  font-size: 30px;
  font-weight: 50;
  margin-top: 1vh;
  margin-bottom: 0;
}

.scoring-time {
  font-size: 50px;
  font-weight: 1000;
  margin-top: 0;
}

.score-input {
  position: absolute;
  text-align: center;
  border: 5px solid #98D0EC;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  right: 10vw;
  float: right;
  bottom: 2.5vh;
  font-size: 50px;
  color: #98D0EC;
}

::placeholder {
  font-size: 20px;
  color: #98D0EC;
}
