.projID {
    margin-top: 5%;
    margin-bottom: 5%;
}
.entirePage {
    background-color: white;
    color: #3b9bc2;
    height: 100%;
    width: 100%;
    text-align: left;
}

.submit {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 2vh;
}

.attribute-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 33%;
    width: 100%;
    padding: 2%;
}

.projinfo-icon {
    left: 0%;
    top: 0%;
    position: relative;
}

.projHeader {
    display: inline-block;
    margin-right: 1rem;
    padding-top: 1.8rem;
    align-self: flex-end;
}

.projTitle{
    font-size: 300%;
    font-weight: bold;
}
.projID {
    color: #8AC9E1;
    font-size: 1.7rem;
    width: auto;
}

.projDetails {
    position: relative; 
    top: 4%;
    width: 100%;
    left: 0%;
}

.projInfo {
    position: relative;
    margin-top: 4vh;
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 3vh;
    padding-left: 3.5rem;
} 

.detail-header {
    font-weight: bold;
    font-size:5vh;
    position: relative;
    padding-left: 3%;
}


.score {
    position: relative;
    text-align: center;
    width: 20vw;
    height: 20vw;
    z-index: 1;
    bottom: 10%;
    left: 40%;
}

.actual-info {
    position: relative;
    text-align: left;
    margin: auto;
    font-size: 3vh;
}

.scoreInput {
    text-align: center;
    border: 3px solid #3b9bc2;
    border-radius: 100%;
    width: 10vh;
    height:10vh;
    z-index:0;
}

.head-and-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 30vw;
}

::placeholder {
    font-size: 1.5vh;
    color: #3b9bc2
}

.category-list {
    font-size: 2vh;
}

.list {
    height: auto;
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
}

.wrapper {
    margin-top: 4vh;
    position: relative;
    text-align: center;
}

.button {
    display: inline-block;
}

.backButton {
    position: relative;
    display: inline-block;
    top: 3vh;
    left: 3vh;
    width: 12vw;
    height: 12vw;
    border:none;
    background-color: transparent;
    outline:none;
    align-self: flex-start;
    cursor:'pointer';
}
