@import url('https://fonts.googleapis.com/css?family=Muli:regular,bold,light&subset=latin,latin-ext');

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.instructions {
    font-family: 'Muli';
    position: relative; 
    background: white;
    height: 100vh;
    width: 70%;
    display: inline-block;
    justify-content: center;
    align-items: center; 
}

.instructions-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

.instructions-title {
    font-family: 'Muli', sans-serif;
    font-weight: bolder;
    color: #3B9BC2;
    font-size: 5vh;
}

.instructions-text {
    margin-top: 1vh;
    font-family: 'Muli', sans-serif;
    font-weight: light;
    font-size: 2.5vh;
    color: black;
    text-align: left;
}

.instructions-next {
    font-family: 'Muli';
    font-weight: bolder;
    font-size: 2.5vh;
    color: white;
    display: block;
    align-content: center;
    justify-content: center;
    margin-top: 3vh;
    border: none;
    background-color: #3B9BC2;
    width: 50%;
    height: 6vh;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}