.awardList {
    text-align: left;
    width:33%;

}

.list-content {
    position: relative;
    left:3vw;
    font-size: 22px;
    color: #3B9BC2

}

.list-name {
    color: #3B9BC2;
    position: relative;

    left: 4.3vw;
    display: inline-block;
    background: -webkit-linear-gradient(white 50%,#D5EBF6)
    
}


.input-field {
    text-align:center;
    width:100%;
}


.list-input {
    height: 40px;
    width: 70%;
    font-size: 22px;
    border: none;
    border-bottom: 2px solid #8AC9E1;
    border-top: 2px solid #8AC9E1;
}

::placeholder {
    color: #8AC9E1;

    

}

:focus {
    outline: none;
}
