.categoryInputPage {
  height: 100vh; /* Magic here */
  width: 100vw;

  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #d5ebf6;
}

#title {
  font-weight: bold;
  position: relative;
  color: #3b9bc2;
  font-size: 50px;
  text-align: left;

  left:10%;
  top: 1%;
}

#category_body {
  position: relative;
  z-index: 1;
  top: 5%;
  margin-left: auto;
  margin-right: auto;

  width: 90vw;
  height: 80vh;
  background-color: white;
}

#category_lists {
  width:inherit;
  height:inherit;
  display: flex;
  flex-direction: row;
}

.next_button {
  font-weight: bold;
  position: absolute;
  background: #d5ebf6;
  color: #3b9bc2;
  font-size: 30px;
  border-radius: 4px;
  bottom: 50px;
  width: 110px;
  height: 50px;
  box-shadow: 3px 3px #cdcdcd;
}
