/* .list-item {
    height: 30%;
    font-size: 16px;
    padding: 0;
    color: #3B9BC2;
} */
.ListItem {
  width: 90%;
}

.close-button {
  width: 90%;
  position: absolute;
  top: 0%;
  right: 20%;
  height: 30px;
  width: 30px;
}
