@import url('https://fonts.googleapis.com/css?family=Muli:regular,bold,light&subset=latin,latin-ext');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: 'Muli', sans-serif;
}

.judge-input-page {
  /* display: inline-block;
  margin-left: auto;
  margin-right: auto; */
  text-align: center;
  background: #d5ebf6;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
}

.judge-input-header {
  text-align: left;
  margin-bottom: 2vh;
  padding-top: 15vh;
  padding-left: 40vh;
}

.input-container {
  padding: 15%;
  background: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0vh;
}
