@import url('https://fonts.googleapis.com/css?family=Muli:regular,bold,light&subset=latin,latin-ext');

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: 'Muli', sans-serif;
}

.judge-info-page {
  background: #d5ebf6;
  min-height: 100vh;
}

.judge-info-title {
  font-family: 'Muli';
  font-weight: bold;
  color: #3b9bc2;
  text-align: left;
  font-size: 4.5vh;
  margin-bottom: 2vh;
  padding-top: 10vh;
  padding-left: 18vh;
}

.input-list {
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
  width: 84%;
  height: 82vh;
}

.input-name-header {
  font-family: 'Muli';
  font-weight: bold;
  color: #3b9bc2;
  font-size: 3.5vh;
  padding-top: 4vh;

  text-align: left;
}

:focus {
  outline: none;
}

::placeholder {
  color: #98d0ec;
  font-size: 2vh;
}

.input-name {
  border: none;
  width: 100%;
  display: inline-block;
  align-content: center;
  justify-content: center;
  color: #98d0ec;
  margin-top: 2vh;
  border-top: 2px solid #98d0ec;
  border-bottom: 2px solid #98d0ec;
  height: 5.25%;
  font-family: 'Muli';
  font-weight: regular;
  font-size: 2vh;
  padding-left:2%;
}

.input-api-header {
  font-family: 'Muli';
  font-weight: bold;
  color: #3b9bc2;
  font-size: 3.5vh;
  padding-top: 4vh;
  text-align: left;
  margin-bottom: 2vh;
}

.submit-button {
  font-family: 'Muli';
  font-weight: bold;
  font-size: 2.5vh;
  color: #3b9bc2;
  display: block;
  align-content: center;
  justify-content: center;
  margin-top: 3vh;

  border: none;
  background-color: #d5ebf6;
  width: 14vh;
  height: 6vh;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.submit-button:hover {
  background-color: #c9e0ec;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.24), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.judge-name-list {
  height: 50%;
  text-align: center;
  border-radius: 50px;
  background: #d5ebf6;
}


.judge-info-list-border {
  padding: 4%;
  position: relative;
  display: inline-block;
  align-content: center;
  overflow: auto;
  width: 65%;
}

.name-list-header {
  display: inline-block;
  font-family: 'Muli';
  font-weight: bold;
  color: #3b9bc2;
  background-color: #98d0ec;
  font-size: 3.5vh;
  text-align: left;
  padding:1%;
  padding-left: 5%;
  width: 44%;
}

.api-list-header {
  display: inline-block;
  font-family: 'Muli';
  font-weight: bold;
  color: #3b9bc2;
  background-color: #98d0ec;
  font-size: 3.5vh;
  text-align: left;
  padding: 1%;
  padding-left: 5%;
  width: 44%;
}

.dropdown {
  display: block;
  width: 100%;
}

.input-container {
  width: 35%;
  display: inline-block;
  margin-left: 5vh;

}

.delete {
  display: inline-block;
  width: 19px;
  height: 18px;
  text-align: center;
  background-color: #D2D2D2;
  border-radius: 50%;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}

ul{
  padding:0;
  margin:0;
}

.judge-item {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #d5ebf6;
}

.remove-button {
  border: none;
  height: 50%;
}

.button-icon {
  color: #d5ebf6;
  font-size: 4vh;
}

.delete-button {
  border: none;
  justify-content: center;
  color: #d5ebf6;
  font-size: 3vh;
}

.delete-button:hover{
  color: #91bcd1;
}

.judge-button {
  background-color: #d5ebf6;
  margin: 10px;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 1000;
  color: #3b9bc2;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 5px grey;
}

.buttons {
  position: relative;
  margin-left: 40%;
}

.entry-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height:80%;
}

.list {
  overflow:scroll; 
  height:80%;
}