.dark-color {
  background-color: #d5ebf6;
  width: 97%;
}

.light-color {
  background-color: white;
  width: 97%;
}

.judge-api {
  position: absolute;
  display: inline-block;
  font-family: 'Muli';
  font-weight: bold;
  color: #3b9bc2;
  font-size: 2.5vh;
  padding-top: 1vh;
  text-align: left;
  padding-left: 4vh;
  width: 45%;
}

.judge-name {
  display: inline-block;
  font-family: 'Muli';
  font-weight: bold;
  color: #3b9bc2;
  font-size: 2.5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: left;
  /* margin-left: 3vh; */
  padding-left: 3vh;
  width: 45%;
}
