@import url('https://fonts.googleapis.com/css?family=Overpass');

/**************** PAGE SETUP ****************/
.page-background {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #98D0EC ;
}

.page-header {
    font-weight: bold;
    color: #0A7191;
    text-align: left;
    font-size: 5vh;
    padding-top: 7vh;
    padding-bottom: 1vh;
    padding-left: 8vw;
}

.content-background {
    font-family: 'Overpass', sans-serif;
    background: #F9F9F9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 85vh;
}

/********************* LISTS ********************/
.list {
    overflow: scroll;
    height: 70%;
}

/******************* BUTTONS ********************/
.button {
    font-weight: bold;
    font-size: 2.5vh;
    color: #0A7191;
    display: block;
    align-content: center;
    justify-content: center;
    margin-top: 4vh;
    border: none;
    background-color: #98D0EC;
    width: 14vh;
    height: 6vh;
    box-shadow: 3px 3px #cdcdcd;
    border-radius: 4px;
    margin: 2%;
}

.nav {
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}

.button:hover{
    background-color: #8abed8;
}

.delete-button {
    font-family: 'Overpass', sans-serif;
    border: none;
    justify-content: center;
    color: #98D0EC;
    font-size: 3vh;
  }

.delete-button:hover{
    color: #0A7191;
}

/***************** INPUTS ****************/
::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #98D0EC;
}

:focus {
    outline: none;
}

/***************** CATEGORY INPUTS ****************/
.category-lists {
    margin: auto;
    height: 80%;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

.award-list {
    margin-top: 2%;
    text-align: left;
    width: 33%;
}

.award {
    position: relative;
    left: 4vw;
    font-size: 22px;
    color: #98D0EC;
    width: 70%;
    margin-right: 0;
}

.award-list-name {
    position: relative;
    color: #0A7191;
    left: 4.3vw;
    display: inline-block;
    font-size: 2.5vh;
    font-weight: bolder;
    padding: 2%;
    padding-top: 5%;
}

.award-list-element {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.award-list-field {
    position: relative;
    text-align: center;
    width: 100%;
}

.award-list-input {
    height: 4vh;
    width: 70%;
    font-size: 1.5vh;
    border: none;
    border-bottom: 2px solid #98D0EC;
    border-top: 2px solid #98D0EC;
}

.award-list-input, textarea {
    background-color: #F9F9F9;
    padding-left: 2%;
    margin-left: 5%;
}

.award-list-item {
    width: 100%;
}

.category-button {
    margin-top: 0;
}

/********************* DATA ENTRY ********************/
.data-button {
    margin: -4vh;
    margin-top: 4vh;
}

.data-entry-contents {
    margin: auto;
    width: 80vw;
    padding-top: 2.5vh;
    margin-bottom: 3vh;
}

.data-entry-element {
    width: 40%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5vh;
    justify-content: space-between;
}

.data-element-title {
    margin: 10px;
    font-size: 2.5vh;
    font-weight: bold;
    color: #0A7191;
}

.data-entry-input{
    height: 4vh;
    width: 40%;
    font-size: 1.5vh;
    border: none;
    border-bottom: 2px solid #98D0EC;
    border-top: 2px solid #98D0EC;
    background-color: #F9F9F9;
    padding-left: 2%;
}

.upload-file {
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-file + label{
    cursor: pointer;
    font-weight: bold;
    font-size: 2vh;
    color: #0A7191;
    border: none;
    background-color: #98D0EC;
    width: 22vh;
    width: 200px;
    height: 25px;
    box-shadow: 3px 3px #cdcdcd;
    border-radius: 4px;
    margin: 0;
    padding: 2%;
}

/********************* JUDGE INFO ********************/
.judge-input-list {
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: row;
    height: 80%;
}

.judge-input {
    margin-top: 2vh;
    width: 35%;
    display: inline-block;
    margin-left: 5vh;
    align-content: left;
    text-align: left;
}

.judge-name-title {
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    font-weight: bold;
    color: #0A7191;
    font-size: 2.5vh;
    text-align: left;
}

.judge-name-input {
    height: 4vh;
    width: 100%;
    font-size: 1.5vh;
    border: none;
    border-bottom: 2px solid #98D0EC;
    border-top: 2px solid #98D0EC;
    padding-left: 2%;
    background-color: #F9F9F9;
}

.judge-api-title {
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    color: #0A7191;
    font-size: 2.5vh;
    text-align: left;
}

.judge-dropdown {
    display: block;
    width: 100%;
    margin-bottom: 10%;
}

.judge-list {
    padding: 4%;
    padding-top: 3%;
    position: relative;
    display: inline-block;
    align-content: center;
    overflow: auto;
    width: 65%;
}

.judge-list-name {
    display: inline-block;
    font-weight: bold;
    color: #0A7191;
    background-color: #98D0EC;
    font-size: 2.5vh;
    text-align: left;
    padding: 1%;
    padding-left: 5%;
    width: 44%;
}

.judge-list-api {
    display: inline-block;
    font-weight: bold;
    color: #0A7191;
    background-color: #98D0EC;
    font-size: 2.5vh;
    text-align: left;
    padding: 1%;
    padding-left: 5%;
    width: 44%;
}

ul {
    padding: 0;
    margin: 0;
}

.judge-button {
    margin-top: -4vh;
}

.judge-item {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #98D0EC;
}

.judge {
    width: 100%;
}

.judge-api {
    position: relative;
    display: inline-block;
    color: #98D0EC;
    font-size: 2.3vh;
    text-align: left;
    width: 45%;
    padding: 0.5%;
    padding-left: 7%;
}

.judge-name {
    position: relative;
    display: inline-block;
    color: #98D0EC;
    font-size: 2.3vh;
    text-align: left;
    width: 45%;
    padding: 0.5%;
}

.delete-button {
    background-color: #F9F9F9;
}

/********************* PROJECT BREAKDOWN ********************/
.loading-page {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95vw;
    height: 70vh;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-text {
    
}

.api-category-box {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95vw;
    height: 70vh;
    overflow-y: scroll;
}

.api-info {
    display: block;
    margin-bottom: 10px;
    background-color: #F9F9F9;
    height: 30vh;
}

.api-header {
    background-color: #98D0EC;
}

.api-name {
    text-align: left;
    color: #0A7191;
    font-size: 4vh;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 5px;
    display: inline-block;
}

.scored-section {
    width: 50%;
    text-align: center;
    height: 75%;
}

.unscored-section {
    width: 50%;
    height: 75%;
}

.content-breakdown {
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 75%;
    overflow: auto;
}

.breakdown-list {
    display: inline-block;
    overflow: auto;
    width: 80%;
    height: 55vh;
}

.project-list {
    width: 90%;
    display: inline-block;
    background-color: #98D0EC;
}

.project-list-name {
    display: inline-block;
    text-align: center;
    width: 50%;
    color: #0A7191;
}

.project-list-score {
    display: inline-block;
    text-align: center;
    width: 50%;
    color: #0A7191;
}

.project-item {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.project-name {
    display: inline-block;
    width: 50%;
    color: #0A7191;
}

.project-score {
    width: 50%;
    display: inline-block;
    color: #0A7191;
}

.progress {
    padding-bottom: 2vh;
    color: #0A7191;
    font-size: 3vh;
    font-weight: bold;
}

.project-list-name-unscored {
    width: 50%;
    color: #0A7191;
}

.proj-item {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(210, 211, 211);
    width: 90%;
    display: inline-block;
}

.headers {
    width: 100%;
    display: inline-block;
    color: #0A7191;
    font-size: 3vh;
    font-weight: bold;
}

.scoring-header {
    display: inline-block;
    width: 50%;
}

.scoring-list {
    height: 80%;
    overflow: auto;
}

.dropdown-button {
    margin-top: 15px;
    margin-right: 5px;
    font-family: 'Overpass', sans-serif;
    color: #0A7191;
    background-color: #98D0EC;
    border: none;
    float: right;
    cursor: pointer;
}

.dropdown-button-shape {
  	width: 0;
  	height: 0;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-top: 20px solid #0A7191;
}

/********************* HACKER FACING SPREADSHEET ********************/

.content-spreadsheet {
    text-align: center;
    display: flex;
    flex-direction: row;
    width:100vw;
    height: 60vh;
}

#hackSpreadsheet {

}

.entry-element {
    display: inline-block;
    /* overflow: auto; */
    width: 100%;
    height: 55vh;
    position: relative; 
    top: 2%;
}

.list-area {
    width: 100%;
    height: 80vh;
    text-align: center;
}

.spread-project-name {
    display: inline-block;
    width: 33%;
    color: #0A7191;
    text-align: center;
}

.spread-project-wave {
    display: inline-block;
    width: 33%;
    color: #0A7191;
    text-align: center;
}

.spread-project-table {
    display: inline-block;
    width: 33%;
    color: #0A7191;
    text-align: center;
}

.spread-entry {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #98D0EC;
    width: 100%;
    display: inline-block;
}

.entries-list {
    position: relative; 
    top: 10%;
    display: inline-block;
    overflow: auto;
    width: 80%;
    height: 80%;
}

.entries-list-name {
    display: inline-block;
    text-align: center;
    width: 33%;
    color: #0A7191;
}

.entries-list-wave {
    display: inline-block;
    text-align: center;
    width: 33%;
    color: #0A7191;
}

.entries-list-table {
    display: inline-block;
    text-align: center;
    width: 33%;
    color: #0A7191;
}

.button-container-spread {
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
}

/********************* Winners Page ********************/

.all-collapsible-categories {
    margin-bottom: 10vh;
}

.Collapsible {
    align-items: center;
    font-size:3vh;
    padding-top: 2%;
    margin: 0 auto;
    width:50vw;
}

.Collapsible__contentOuter{
    width: 95%;
    font-size:2vh;
    margin: 0 auto;
}

.Collapsible__contentInner{
    overflow: auto;
}
.triggerHeader {
    background-color:#98D0EC;
    color: #0A7191;
    cursor: pointer;
}

.w-content-background {
    font-family: 'Overpass', sans-serif;
    background: #F9F9F9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    width: 100vw;
    min-height: 85vh;
    overflow: auto;
}

.w-content-breakdown {
    text-align: center;
    display: flex;
    flex-direction: row;
    width:100%;
    height: 20vh;
}

.w-scored-section {
    width: 100%;
    text-align: center;
}

.w-project-list {
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid rgb(210, 211, 211);
}

.w-proj-item {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(210, 211, 211);
    width: 100%;
    display: inline-block;
}

.w-project-list-name {
    display: inline-block;
    text-align: center;
    width: 25%;
    color: #0A7191;
}

.w-project-name {
    display: inline-block;
    width: 25%;
    color: #0A7191;
}

.dropdown-button {
    margin-top: 5px;
    font-family: 'Overpass', sans-serif;
    color: #0A7191;
    background-color: #98D0EC;
    border: none;
    float: right;
    cursor: pointer;
}

.dropdown-button-shape-down {
  	width: 0;
  	height: 0;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-top: 20px solid #0A7191;
}

.dropdown-button-shape-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #0A7191;
}
