.view {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: #d5ebf6;
  color: #3b9bc2;
}

.pheader {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  color: #3b9bc2;
  text-align: left;
  margin-left: 7vw;
}

.box {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 75vh;
  background-color: white;
  padding: 25px;
}

.c {
  display: flex;
  align-items: center;
  margin-left: 25vw;
}

#datatype {
  margin: 20px;
}

.inputbox {
  width: 50%;
  padding: 12px 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 2.5px solid #d5ebf6;
  border-top: 2.5px solid #d5ebf6;
}

::placeholder {
  color: #d5ebf6;
  font-size: 10px;
  font-weight: 500;
}

.button {
  background-color: #d5ebf6;
  margin: 10px;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 1000;
  color: #3b9bc2;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 5px grey;
}

.uploadbutton {
  font-size: 20px;
  padding: 0px 0px;
  margin: 5px;
  margin-top: 0px;
}
