
.Collapsible {
    align-items: center;
    font-size:3vh;
    padding-top: 2%;

}

.Collapsible__contentOuter{
    width: 70%;
    font-size:2vh;
    margin: 0 auto;
}

.Collapsible__contentInner{

}

.Collapsible__trigger{

}
.triggerHeader {
    background-color:#98D0EC;
    margin: 0 auto;
    width:50vw;
    color: #0A7191;
    cursor: pointer;

}
.winner-list{
} 