@import url('https://fonts.googleapis.com/css?family=Overpass');


/**************** PAGE SETUP ****************/
.page-background {
    font-family: 'Overpass', sans-serif;
    height: 100vh; 
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d5ebf6;
}

.page-header {
    font-weight: bold;
    color: #3b9bc2;
    text-align: left;
    font-size: 5vh;
    padding-top: 15vh;
    padding-bottom: 1vh;
    padding-left: 8vw;
}

.content-background {
    font-family: 'Overpass', sans-serif;
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    width: 90vw;
    height: 70vh;
}

/********************* LISTS ********************/
.list {
    overflow: scroll; 
    height: 75%;
}

/***************** DOT NAV BAR ******************/
hr {
    position: fixed;
    top: 7vh;
    width:100%;
    border-top: 4px solid #98D0EC;
    z-index: 0;
  }
  
  .dot-navbar {
    position:absolute;
    right:0;
  }
  
  .dot {
    display:inline-block;
    width:20px;
    height:20px;
    background-color:#D5EBF6;
    border-radius: 100%;
    border: 5px solid #98D0EC;
    z-index:999;
    content:'';
    color:transparent;
    font-size:14px;
    line-height:17px;
    margin:5px 100px 10px 0;
    font-weight:300;
    display: flex;
    flex-direction: row;
  }
  
  .dot:hover {
    color:#98D0EC;
    background-color:#98D0EC;
  }
  
  nav {
    width:200px;
    height:200px;
    padding:0 0px;
    position:fixed;
    top:8%;
    right:35%;
    transform: translate(0, -50%);
    z-index: 10000;
    display: flex;
    flex-direction: row;
  }
  
  nav ul li a {
    text-decoration:none;
    font-size: 10px;
  }
  
  nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    margin:auto;
    text-align: center;
  }
  
  .active {
    color: #98D0EC;
    background-color:#98D0EC;
    text-align:right;
  }

/********************* INPUTS ********************/
::placeholder {
    color: #d5ebf6;
    font-size: 2vh;
}

:focus {
    outline: none;
}

/******************* BUTTONS ********************/
.button {
    font-weight: bold;
    font-size: 2.5vh;
    color: #3b9bc2;
    display: block;
    align-content: center;
    justify-content: center;
    margin-top: 3vh;
    border: none;
    background-color: #d5ebf6;
    width: 14vh;
    height: 6vh;
    box-shadow: 3px 3px #cdcdcd;
    border-radius: 4px;
    margin: 2%;
}

.nav {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.button:hover{
    background-color: #c9e0ec;
}

.delete-button {
    border: none;
    justify-content: center;
    color: #d5ebf6;
    font-size: 3vh;
  }
  
.delete-button:hover{
    color: #91bcd1;
}

/***************** CATEGORY INPUTS ****************/
.category-lists {
    height: 80%;
    width: inherit;
    display: flex;
    flex-direction: row;
}

.award-list {
    text-align: left;
    width: 33%;
}

.award {
    position: relative;
    left: 4vw;
    font-size: 22px;
    color: #3B9BC2;
    width: 65%;
    margin-right: 0;
}

.award-list-name {
    position: relative;
    color: #3B9BC2;
    left: 4.3vw;
    display: inline-block;
    font-size: 2.5vh;
    font-weight: bolder;
    padding: 2%;
    padding-top: 5%;
}

.award-list-element {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.award-list-field {
    position: relative;
    text-align: center;
    width: 100%;
}

.award-list-input {
    height: 4vh;
    width: 70%;
    font-size: 2vh;
    border: none;
    border-bottom: 2px solid #8AC9E1;
    border-top: 2px solid #8AC9E1;
}

.award-list-item {
    width: 100%;
}

/********************* DATA ENTRY ********************/
.data-entry-contents {
    padding-top: 9vh;
    margin-bottom: 3vh;
}

.data-entry-element {
    width: 40%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 3vh;
    justify-content: space-between;
}

.data-element-title {
    margin: 10px;
    font-size: 2.5vh;
    font-weight: bold;
    color: #3b9bc2;
}

.data-entry-input{
    height: 4vh;
    width: 40%;
    font-size: 2vh;
    border: none;
    border-bottom: 2px solid #8AC9E1;
    border-top: 2px solid #8AC9E1;
}

.upload-file {
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-file + label{
    font-weight: bold;
    font-size: 2vh;
    color: #3b9bc2;
    border: none;
    background-color: #d5ebf6;
    width: 22vh;
    height: 6vh;
    box-shadow: 3px 3px #cdcdcd;
    border-radius: 4px;
    margin: 2%;
    margin-right: 0;
    padding: 2%;
}

/********************* JUDGE INFO ********************/
.judge-input-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80%;
}

.judge-input {
    margin-top: 2vh;
    width: 35%;
    display: inline-block;
    margin-left: 5vh;
    align-content: left;
    text-align: left;
}

.judge-name-title {
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    font-weight: bold;
    color: #3b9bc2;
    font-size: 3vh;
    text-align: left;
}

.judge-name-input {
    height: 4vh;
    width: 100%;
    font-size: 2vh;
    border: none;
    border-bottom: 2px solid #8AC9E1;
    border-top: 2px solid #8AC9E1;
}

.judge-api-title {
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    color: #3b9bc2;
    font-size: 2.5vh;
    text-align: left;
}

.judge-dropdown {
    display: block;
    width: 100%;
    margin-bottom: 10%;
}

.judge-list {
    padding: 4%;
    padding-top: 3%;
    position: relative;
    display: inline-block;
    align-content: center;
    overflow: auto;
    width: 65%;
}
  
.judge-list-name {
    display: inline-block;
    font-weight: bold;
    color: #3b9bc2;
    background-color: #98d0ec;
    font-size: 2.5vh;
    text-align: left;
    padding: 1%;
    padding-left: 5%;
    width: 44%;
}

.judge-list-api {
    display: inline-block;
    font-weight: bold;
    color: #3b9bc2;
    background-color: #98d0ec;
    font-size: 2.5vh;
    text-align: left;
    padding: 1%;
    padding-left: 5%;
    width: 44%;
}

ul {
    padding: 0;
    margin: 0;
}
  
.judge-item {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #d5ebf6;
}

.dark-color {
    background-color: #d5ebf6;
}
  
.light-color {
    background-color: white;
}
  
.judge {
    width: 100%;
}
  
.judge-api {
    position: relative;
    display: inline-block;
    color: #3b9bc2;
    font-size: 2.3vh;
    text-align: left;
    width: 45%;
    padding: 0.5%;
    padding-left: 7%;
}
  
.judge-name {
    position: relative;
    display: inline-block;
    color: #3b9bc2;
    font-size: 2.3vh;
    text-align: left;
    width: 45%;
    padding: 0.5%;
}