@import url('https://fonts.googleapis.com/css?family=Overpass');

.home {
    font-family: 'Overpass', sans-serif;
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #98D0EC;
}

.home-container {
    text-align: left;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
}

.route-buttons {
    font-weight: bold;
    display: inline-block;
    align-content: center;
    justify-content: space-around;
}

.h-button {
    height: 30%;
    width: 100%;
    padding: 0.8rem;
    border-color: white;
    border-radius: 0.4rem;
    font-size: 1rem;
    color: white;
    background-color: #98D0EC;
    margin-top: 3vh;
    border: solid;
    
}

.home-title {
    color: #0A7191;
    margin: auto;
}

.home-header {
    font-size: 1.4rem;
    color: white;
}
