.App {
    text-align: center;
    overflow-x: hidden;
}

hr {
  position: fixed;
  top: 7vh;
  width:100%;
  border-top: 4px solid #98D0EC;
  z-index: 0;
}

.dot-navbar {
  position:absolute;
  right:0;
}

.dot {
  display:inline-block;
  width:20px;
  height:20px;
  background-color:#D5EBF6;
  border-radius: 100%;
  border: 5px solid #98D0EC;
  z-index:999;
  content:'';
  color:transparent;
  font-size:14px;
  line-height:17px;
  margin:5px 100px 10px 0;
  font-weight:300;
  display: flex;
  flex-direction: row;
}

.dot:hover {
  color:#98D0EC;
  background-color:#98D0EC;
}

nav {
  width:200px;
  height:200px;
  padding:0 0px;
  position:fixed;
  top:8%;
  right:35%;
  transform: translate(0, -50%);
  z-index: 10000;
  display: flex;
  flex-direction: row;
}

nav ul li a {
  text-decoration:none;
  font-size: 10px;
}

nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;
  margin:auto;
  text-align: center;
}

.active {
  color: #98D0EC;
  background-color:#98D0EC;
  text-align:right;
}
