@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Muli', sans-serif;
}
