.projID {
    margin-top: 5%;
    margin-bottom: 5%;
}
.entirePage {
    background-color: white;
    color: #3b9bc2;
    height: 100%;
    width: 100%;
    text-align: left;

}
.attribute-item {
    position: relative;
    height: 33%;
    width:100%;
    padding: 2%;
}

.projinfo-icon {
    left: 0%;
    top: 0%;
    position: relative;
}

.projHeader {
    font-size: 2.5vh;
    text-align: left;
    position: relative; 
    left: 0%;
    top: 0%;
}

.projTitle{
    font-size: 300%;
    font-weight: bold;
}
.projID {
    color: #8AC9E1;
    font-size: 150%;

}
.projDetails {
    position: relative; 
    top: 4%;
    left: 0%;
}

.projInfo {
    position: relative;
    padding-top: 15%;
    width:auto;
    height:70%;
    padding-left: 10%;

}

.detail-header {
    font-weight: bold;
    font-size:5vh;
    position: relative;
    padding-left: 3%;
}

/* .teamDetails {
    position: relative;
    display: inline-block;
    left:3%;
} */

.score {
    position: absolute;
    text-align: center;
    width:20vw;
    height:20vw;
    z-index:1;
    bottom:10%;
    left:40%;
}

.actual-info {
    position: relative; 
    margin: 0%;
    left: 14%;
    font-size: 3vh;
}
.scoreInput {
    text-align: center;
    border: 3px solid #3b9bc2;
    border-radius: 100%;
    width: 10vh;
    height:10vh;
    z-index:0;
}

.head-and-icon {
    position: relative;
    display: flex;
    align-items: center;
}

::placeholder {
    font-size:1.5vh;
}

.backButton {
    position: relative;
    top: 3vh;
    left: 3vh;
    width: 7vw;
    height: 7vw;
    border:none;
    background-color:transperant;
    outline:none;

    cursor:'pointer';
}
